<h2>Edit <%= resource_name.to_s.humanize %></h2>
<section class="container border border-danger mt-3 shadow p-3 bg-white rounded">
  <div class=" border-bottom border-danger">

    <%= @user.name %>
    <%= @user.lastName %>
  </div>

  <div class="row">
    Seguidores
    <%= @user.posts.count %>
    Posts
  </div>
</section>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container col-md-6 bg-danger shadow-lg p-3 rounded border" style="margin: 0 auto">
    <div class="field form-group col-md-10" style="margin: 0 auto">
      <%= f.label :Nombres %><br/>
      <%= f.text_field :name, autofocus: true, placeholder: 'Nombres',class: 'form-control form-control-lg shadow p-3 mb-5 bg-white rounded'%>
    </div>
    <div class="field form-group col-md-10" style="margin: 0 auto">
      <%= f.label :Apellidos %><br/>
      <%= f.text_field :lastName, placeholder: 'Apellidos',class: 'form-control form-control-lg shadow p-3 mb-5 bg-white rounded'%>
    </div>
    <div class="field form-group col-md-10" style="margin: 0 auto">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email',class: 'form-control form-control-lg shadow p-3 mb-5 bg-white rounded' %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="field form-group col-md-10" style="margin: 0 auto">
      <%= f.label :Nueva_Contraseña %> <i>(Dejarlo en blanco si no desea cambiarlo)</i><br/>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Nueva Contraseña',class: 'form-control form-control-lg shadow p-3 mb-5 bg-white rounded' %>
    </div>
    <div class="field form-group col-md-10" style="margin: 0 auto">
      <%= f.label :Confirmar_Constraseña %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirmar Contraseña',class: 'form-control form-control-lg shadow p-3 mb-5 bg-white rounded' %>
    </div>
    <div class="field form-group col-md-10" style="margin: 0 auto">
          <%= f.label :Contraseña_Actual %> <i>(Necesitamos tu contraseña actual para confirmar cambios)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: 'Contraseña Actual',class: 'form-control form-control-lg shadow p-3 mb-5 bg-white rounded' %>
    </div>
    <div class=" actions form-group col-md-10" style="margin: 0 auto">
        <%= f.submit "Actualizar", class: 'btn btn-dark col-md-12'%>
    </div>
  </div>
<% end %>
<br/>
<div class="container col-md-6 bg-danger shadow-lg p-3 rounded border" style="margin: 0 auto">
  <h3 class="text-light">Cancelar mi cuenta</h3>
  <p>Quieres dejarnos?, Nos entristece. <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-dark col-md-12'%></p>
</div>
