  <nav class=" container navbar col-md-6 navbar-light justify-content-center shadow-lg p-3 rounded border">
    <img src="https://northcentralus1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=png&cs=fFNQTw&docid=https%3A%2F%2Funilibrebog-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!q1HKdvy6Fkm2V074tzSsZWpfRowJGcpDuUPnpCvMsKpdukMGZpokSrFqDT4IBO6U%2Fitems%2F01TVEQ7OMPHVYBTIU4QZCJTZIYEBA2UELU%3Fversion%3DPublished&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvdW5pbGlicmVib2ctbXkuc2hhcmVwb2ludC5jb21ANmNhMzRhZTEtNDY2Zi00NGJjLWE3YWEtMGFjNWE3OGM2MWIxIiwiaXNzIjoiMDAwMDAwMDMtMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwIiwibmJmIjoiMTYwNDUwMjAwMCIsImV4cCI6IjE2MDQ1MjM2MDAiLCJlbmRwb2ludHVybCI6IkpmWUs3VTMyUDAybGJ5bUNzWG1UTnI1SThOd0oxNit4Rys0RzUvZzA0a0U9IiwiZW5kcG9pbnR1cmxMZW5ndGgiOiIxMjEiLCJpc2xvb3BiYWNrIjoiVHJ1ZSIsInZlciI6Imhhc2hlZHByb29mdG9rZW4iLCJzaXRlaWQiOiJOelpqWVRVeFlXSXRZbUZtWXkwME9URTJMV0kyTlRjdE5HVm1PR0kzTXpSaFl6WTEiLCJuYW1laWQiOiIwIy5mfG1lbWJlcnNoaXB8anVhbm4taGVybmFuZGV6Y0B1bmlsaWJyZS5lZHUuY28iLCJuaWkiOiJtaWNyb3NvZnQuc2hhcmVwb2ludCIsImlzdXNlciI6InRydWUiLCJjYWNoZWtleSI6IjBoLmZ8bWVtYmVyc2hpcHwxMDAzYmZmZDllMGFjNzUxQGxpdmUuY29tIiwidHQiOiIwIiwidXNlUGVyc2lzdGVudENvb2tpZSI6IjIifQ.R0lDTjd3VlE3dFNaS2t4T0FHT1ExUEY3MHdob202RGsrbHE5c0pkT3Zqdz0&encodeFailures=1&srcWidth=&srcHeight=&width=300&height=300&action=Preview" width="150" height="150" class="d-inline-block align-middle" alt="LogoUniversidadLibre" loading="lazy" style="padding: 10px">
    <img src="https://northcentralus1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Funilibrebog-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!q1HKdvy6Fkm2V074tzSsZWpfRowJGcpDuUPnpCvMsKpdukMGZpokSrFqDT4IBO6U%2Fitems%2F01TVEQ7ONJTCAMQGYOURG3FBYOUF57I2LD%3Fversion%3DPublished&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvdW5pbGlicmVib2ctbXkuc2hhcmVwb2ludC5jb21ANmNhMzRhZTEtNDY2Zi00NGJjLWE3YWEtMGFjNWE3OGM2MWIxIiwiaXNzIjoiMDAwMDAwMDMtMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwIiwibmJmIjoiMTYwNDUwMjAwMCIsImV4cCI6IjE2MDQ1MjM2MDAiLCJlbmRwb2ludHVybCI6IkpmWUs3VTMyUDAybGJ5bUNzWG1UTnI1SThOd0oxNit4Rys0RzUvZzA0a0U9IiwiZW5kcG9pbnR1cmxMZW5ndGgiOiIxMjEiLCJpc2xvb3BiYWNrIjoiVHJ1ZSIsInZlciI6Imhhc2hlZHByb29mdG9rZW4iLCJzaXRlaWQiOiJOelpqWVRVeFlXSXRZbUZtWXkwME9URTJMV0kyTlRjdE5HVm1PR0kzTXpSaFl6WTEiLCJuYW1laWQiOiIwIy5mfG1lbWJlcnNoaXB8anVhbm4taGVybmFuZGV6Y0B1bmlsaWJyZS5lZHUuY28iLCJuaWkiOiJtaWNyb3NvZnQuc2hhcmVwb2ludCIsImlzdXNlciI6InRydWUiLCJjYWNoZWtleSI6IjBoLmZ8bWVtYmVyc2hpcHwxMDAzYmZmZDllMGFjNzUxQGxpdmUuY29tIiwidHQiOiIwIiwidXNlUGVyc2lzdGVudENvb2tpZSI6IjIifQ.R0lDTjd3VlE3dFNaS2t4T0FHT1ExUEY3MHdob202RGsrbHE5c0pkT3Zqdz0&encodeFailures=1&srcWidth=&srcHeight=&width=763&height=274&action=Access" width="380" height="150" class="d-inline-block align-middle" alt="LogoRedSocialUniversidadLibre" loading="lazy">
  </nav>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

  <div class="container col-md-6 bg-danger shadow-lg p-3 rounded border" style="margin: 0 auto">
    <br/><br/><br/>
    <form>
      <div class=" field form-group col-md-10" style="margin: 0 auto">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'example@unilibre.edu.co', class: 'form-control form-control-lg shadow p-3 mb-5 bg-white rounded">'%>
      </div>
      <div class="field form-group col-md-10" style="margin: 0 auto">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> Caracteres Minimo)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "new-password", placeholder:'Contraseña', class: 'form-control form-control-lg shadow p-3 mb-5 bg-white rounded">' %>
      </div>
      <div class=" field form-group col-md-10" style="margin: 0 auto">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirmar Contraseña', class:'form-control form-control-lg shadow p-3 mb-5 bg-white rounded">'%>
      </div>
      <div class=" actions form-group col-md-10" style="margin: 0 auto">
        <%= f.submit "Registrarse", class: 'btn btn-dark col-md-12' %>
      </div>
  <% end %>
  <br/>
      <div class="actions form-group col-md-10" style="margin: 0 auto">
        <%= link_to 'Iniciar sesión', new_user_session_path, class: 'btn btn-outline-light col-md-12' %>
      </div>
      <br/><br/><br/>
    </form>
  </div>
  <br/><br/><br/>
