<nav class=" container navbar col-md-6 navbar-light justify-content-center shadow-lg p-3 rounded border">
  <img src="<%= asset_path 'logouniversidad.png' %>" width="150" height="150" class="d-inline-block align-middle" alt="LogoUniversidadLibre" loading="lazy" style="padding: 10px">
  <img src="<%= asset_path 'logored.png' %>" width="380" height="150" class="d-inline-block align-middle" alt="LogoRedSocialUniversidadLibre">
</nav>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container col-md-6 bg-danger shadow-lg p-3 rounded border" style="margin: 0 auto">
    <br/><br/><br/>
    <form>
      <div class=" field form-group col-md-10" style="margin: 0 auto">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'example@unilibre.edu.co', class: 'form-control form-control-lg shadow p-3 mb-5 bg-white rounded">'%>
      </div>
      <div class=" field form-group col-md-10" style="margin: 0 auto">
        <%= f.password_field :password, autocomplete: "current-password", placeholder:'Contraseña', class: 'form-control form-control-lg shadow p-3 mb-5 bg-white rounded">' %>
      </div>
      <% if devise_mapping.rememberable? %>
      <div class="form-check col-md-9" style="margin: 0 auto">
        <%= f.check_box :remember_me, class:'form-check-input' %>
        <%= f.label :remember_me, class:'form-check-label'%>
        </label>
      </div>
        <br/>
      <% end %>
      <div class=" actions form-group col-md-10" style="margin: 0 auto">
        <%= f.submit "Iniciar Sesión", class: 'btn btn-dark col-md-12' %>
      </div>
      <% end %>
      <br/>
      <div class="actions form-group col-md-10" style="margin: 0 auto">
        <%= link_to 'Registrarse', new_user_registration_path, class: 'btn btn-outline-light col-md-12' %>
      </div>
      <br/><br/>
      <div class="actions form-group col-md-10" style="margin: 0 auto">
        <%= link_to '¿Olvido su contraseña?', new_user_password_path, style: 'margin: 0 200px',class:'text-white' %>
      </div>
      <br/><br/><br/>
    </form>
</div>
<br/><br/><br/>