 <br/>
  <section class="container shadow p-3 bg-white rounded">
    <%= link_to 'Editar perfil', edit_user_registration_path, class: 'btn btn-dark' %>
    <div class=" border-bottom border-danger">
      <div class="cover">
        <%= image_tag @user.avatar.url(), class: 'container'%>
        <div class="cover">
          <%= image_tag @user.cover.url(), class: 'container'%>
        </div>
      <%= @user.name %>
      <%= @user.lastName %>
    </div>

    <div class="row">
    Seguidores
    <%= @user.posts.count %>
    Posts
    </div>
   </div>


  </section>


