 <br/>
  <section class="container shadow p-3 bg-white rounded">
    <div class=" border-bottom border-danger">
      <div class="cover">
        <div class="cover">
          <%= image_tag @user.cover.url(:thumb), class: 'container'%>
        </div>
      <%= @user.name %>
      <%= @user.lastName %>
    </div>

    <div class="row">
    Seguidores
    <%= @user.posts.count %>
    Posts
    </div>
    </section>
    <%= form_for @user do |f| %>
      <%= f.text_field :name  %>
      <%= f.text_field :lastName  %>
      <%= f.submit "Enviar" %>
    <% end %>

<style>
  .cover{
      background: url("#{@user.cover.url (:medium)}");
  }
</style>