
    <!--cover usuario-->
  <section class="container border border-danger mt-3 shadow p-3 bg-white rounded">
    <div class=" border-bottom border-danger">

      <%= @user.name %>
      <%= @user.lastName %>
    </div>

    <div class="row">
    Seguidores
    <%= @user.posts.count %>
    Posts
    </div>
    </section>
    <%= form_for @user do |f| %>
      <%= f.text_field :name  %>
      <%= f.text_field :lastName  %>
      <%= f.submit "Enviar" %>


    <% end %>