
<%= form_for @post, remote: true do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field form-group col-md-12" style="margin: 0 auto">
      <%= form.text_area :body ,class: 'col-md-12 shadow p-3 mb-3 rounded border', placeholder: '¿Que quieres compartir con la comunidad unilibrista?'%>
    </div>
    <div class="field form-group col-md-12">
      <%= form.submit :Compartir, class: 'btn btn-danger'%>
    </div>
<% end %>
<style>
  .new_post{
      flex: 0 0 100%;
      max-width: 100%;
  }
</style>